* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(255, 202, 0);
}
.list {
  list-style: none;
}

.container {
  font-family: "Turret Road", cursive;
  background-image: url(../images/pikachu.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0 20px;
}
.title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  padding: 20px 0 20px 0;
}
@media all and (min-width: 768px) {
  .title {
    font-size: 70px;
    padding: 30px 0 40px 0;
  }
}
@media all and (min-width: 1024px) {
  .title {
    font-size: 90px;
    padding: 50px 0 70px 0;
  }
}

.cards-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
@media all and (min-width: 425px) {
  .cards-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media all and (min-width: 768px) {
  .cards-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
@media all and (min-width: 1024px) {
  .cards-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media all and (min-width: 1300px) {
  .cards-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

/*card*/
.poke-card {
  background-color: rgba(250, 235, 215, 0.9);
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.poke-image {
  width: 40%;
}
.text-container {
  height: 13vh;
  text-align: center;
}
.poke-name {
  text-transform: capitalize;
  font-size: 35px;
}
.type-list {
  margin-top: 8px;
  text-transform: uppercase;
  line-height: 25px;
}
