* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background-color: rgb(255, 202, 0);
}
.list {
  list-style: none;
}

.container {
  font-family: "Turret Road", cursive;
  background-image: url(../images/pikachu.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/*Title*/
.title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  padding: 10px 0 10px 0;
}
@media all and (min-width: 768px) {
  .title {
    font-size: 70px;
    padding: 20px 0 20px 0;
  }
}
@media all and (min-width: 1024px) {
  .title {
    font-size: 80px;
    padding: 30px 0 30px 0;
  }
}
@media all and (min-width: 1300px) {
  .title {
    font-size: 90px;
    padding: 40px 0 40px 0;
  }
}
