/*card*/
.poke-card {
  background-color: rgba(250, 235, 215, 0.9);
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s ease;
  &:hover {
    box-shadow: 1px 0px 15px 0px #ffffff;
  }
}
.poke-image {
  width: 40%;
}
.text-container {
  height: 13vh;
  text-align: center;
}
.poke-name {
  text-transform: capitalize;
  font-size: 35px;
}
.type-list {
  margin-top: 8px;
  text-transform: uppercase;
  line-height: 25px;
}
.evolution-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8vh;
}
.evolution {
  align-self: flex-end;
  background-color: rgb(248, 197, 103);
}
