/*Cards List*/
.cards-list {
  display: grid;
  padding: 0 20px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
@media all and (min-width: 425px) {
  .cards-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
}
@media all and (min-width: 768px) {
  .cards-list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
@media all and (min-width: 1024px) {
  .cards-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media all and (min-width: 1300px) {
  .cards-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
.link {
  text-decoration: none;
  color: #000000;
}
.fa-arrow-alt-circle-up {
  width: 100vw;
  text-align: center;
  padding: 10px;
  color: #ff7c02;
  font-size: 3rem;
  animation: upDown 1s ease infinite;
}
.up {
  animation: 3s, upDown, ease, infinite;
}
@keyframes upDown {
  0% {
    transform: translate(0, -5px);
  }

  50% {
    transform: translate(0, 0px);
  }
  100% {
    transform: translate(0, -5px);
  }
}
